<nav [ngClass]="{'overflow-hidden': isDropdownOpenSideBar}"
  class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 gap-4">

    <!-- drawer init and show -->
    <div class="text-center">
      <button (click)="abrirCerrarDropdownSideBar()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 17 14">
          <path d="M16 2H1a1 1 0 0 1 0-2h15a1 1 0 1 1 0 2Zm0 6H1a1 1 0 0 1 0-2h15a1 1 0 1 1 0 2Zm0 6H1a1 1 0 0 1 0-2h15a1 1 0 1 1 0 2Z"/>
        </svg>
      </button>
    </div>

    <!-- drawer component -->
    <div id="drawer-navigation" [ngClass]="{'-translate-x-full': !isDropdownOpenSideBar, 'translate-x-0': isDropdownOpenSideBar}" class="fixed top-0 left-0 z-40 w-64 h-screen p-4 overflow-y-auto transition-transform bg-white dark:bg-gray-800">
      <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">Menu</h5>
      <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Close menu</span>
      </button>
      <div class="py-4 overflow-y-auto">
        <button (click)="irACrearHeroe()">
          <ul class="space-y-2 font-medium">
            <li>
              <a (click)="irACrearHeroe()" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fa-solid fa-mask fa-bounce fa-lg" style="color: #3ed0a4;"></i>
                  <span class="ms-3">Crear Heroe</span>
              </a>
            </li>
          </ul>
        </button>
      </div>

      <div class="py-4 overflow-y-auto">
        <ul class="space-y-2 font-medium">
            <li>
              <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fa-solid fa-mask fa-bounce fa-lg" style="color: #dbb21f;"></i>
                  <span class="ms-3">Editar Heroe</span>
              </a>
            </li>
        </ul>
      </div>

      <div class="py-4 overflow-y-auto">
        <ul class="space-y-2 font-medium">
            <li>
              <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fa-solid fa-mask fa-bounce fa-lg" style="color: #d31d1d;"></i>
                  <span class="ms-3">Eliminar Heroe</span>
              </a>
            </li>
        </ul>
      </div>

      <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700"></ul>

        <div class="py-4 overflow-y-auto">
          <ul class="space-y-2 font-medium">
              <li>
              <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fa-solid fa-house fa-lg"></i>
                  <span class="ms-3">Inicio</span>
              </a>
            </li>
        </ul>
      </div>
      <div class="py-4 overflow-y-auto">
        <ul class="space-y-2 font-medium">
            <li>
              <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fa-solid fa-mask fa-lg"></i>
                  <span class="ms-3">Heroes</span>
              </a>
            </li>
        </ul>
      </div>

      <div class="py-4 overflow-y-auto">
        <ul class="space-y-2 font-medium">
            <li>
              <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fa-solid fa-circle-info fa-lg"></i>
                  <span class="ms-3">Sobre el proyecto</span>
              </a>
            </li>
        </ul>
      </div>

      <div class="py-4 overflow-y-auto">
        <ul class="space-y-2 font-medium">
            <li>
              <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <i class="fa-solid fa-id-card-clip fa-lg"></i>
                  <span class="ms-3">Contacto</span>
              </a>
            </li>
        </ul>
      </div>

    </div>
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo">
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Heroes Page</span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="flex items-center" class = "relative">
        <!-- Botón para abrir/cerrar el dropdown -->
        <button (click)="abrirCerrarDropdown()">
          <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
            <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
          </div>
        </button>

        <!-- Menú desplegable -->
        <div *ngIf="isDropdownOpen"
        class="absolute right-0 mt-2 w-44 bg-white divide-y divide-gray-100 rounded-lg shadow-sm
        dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
          <li><a  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a></li>
          <li><a (click)="logout()" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Log out</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</nav>





